# Ejercicio de Lectura de ficheros

Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pand
as.

Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv .

Copia el archivo personal.json en la carpeta Files.

Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

Guardar el json modifiado y abrirlo en Pandas para que tenga formato de tabla.

In [65]:
import pandas as pd
import json 

df = pd.read_csv("videogames.csv", index_col = 0)  # Abrimos el .csv desde pandas. Ahora es un dataframe
df.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [66]:
df.to_excel("videogames.xlsx")

In [67]:
df_excel = pd.read_excel("videogames.xlsx", index_col = 0)
df_excel.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv.

In [68]:
df_excel.to_csv("Files/videogames.csv") # Convertimos el archivo y le pasamos la ruta donde almacenarlo.

Copia el archivo personal.json en la carpeta Files.

In [69]:
# Probamos a hacerlo vía pandas.

# la ruta. Nosotras estamos en la carpeta "en clase". Queremos 1) subir a carpeta pair programming. 2) 

df_personal = pd.read_json("../../teoria/personal.json")  

df_personal.to_json("Files/personal.json")

Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

Guardar el json modificado y abrirlo en Pandas para que tenga formato de tabla.

In [ ]:
# Esto funciona, pero no es demasiado legible. ¿Cómo le damos formato para que las claves sean columnas?

"""

            Nombre  Edad    Experiencia     Nivel   Salario     Mascota
Worker 0
Worker 1
Worker 2
Worker 3 
"""

In [70]:
# Probemos a abrir json con Python. 

with open("Files/personal.json", "r") as fichero: 
    personal = json.load(fichero) # Almacenamos el fichero ersonal.json en la variable personal


print(json.dumps(personal, indent=4))

{
    "workers": {
        "0": {
            "nombre": "Ana",
            "edad": 34,
            "experiencia": 5,
            "nivel": "Senior",
            "salario": 50000,
            "mascota": "gatos"
        },
        "1": {
            "nombre": "Eva",
            "edad": 37,
            "experiencia": 2,
            "nivel": "Mid",
            "salario": 35000
        },
        "2": {
            "nombre": "Marta",
            "edad": 27,
            "experiencia": 1,
            "nivel": "Junior",
            "salario": 25000
        },
        "3": {
            "nombre": "Paula",
            "edad": 30,
            "experiencia": 3,
            "nivel": "Mid",
            "salario": 35000
        }
    }
}

In [74]:
diccionario_nuevo = personal["workers"]
print(diccionario_nuevo)
print(len(diccionario_nuevo))

tabla1 = pd.DataFrame(diccionario_nuevo)
print(tabla1)

{'0': {'nombre': 'Ana', 'edad': 34, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}, '1': {'nombre': 'Eva', 'edad': 37, 'experiencia': 2, 'nivel': 'Mid', 'salario': 35000}, '2': {'nombre': 'Marta', 'edad': 27, 'experiencia': 1, 'nivel': 'Junior', 'salario': 25000}, '3': {'nombre': 'Paula', 'edad': 30, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}}
4
                  0      1       2      3
nombre          Ana    Eva   Marta  Paula
edad             34     37      27     30
experiencia       5      2       1      3
nivel        Senior    Mid  Junior    Mid
salario       50000  35000   25000  35000
mascota       gatos    NaN     NaN    NaN

In [77]:
diccionario_nuevo2 = personal["workers"]["0"]
print(diccionario_nuevo2)
print(len(diccionario_nuevo2))

tabla2 = pd.DataFrame(diccionario_nuevo2)
print(tabla2)

{'nombre': 'Ana', 'edad': 34, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
6

ValueError: If using all scalar values, you must pass an index

# Lista de deseos:

In [ ]:
# chuleta carla

df_json.head()

df_json.set_index(df_json.columns[3], inplace=True)